language: python
python:
- '3.8'
install:
- pip install -r requirements-travis.txt
script:
- python manage.py test
deploy:
  provider: heroku
  api_key:
    secure: jbmz6UIzOKBi1k1koSZTq+WN9kEItCVfXdvwBFRgaWQdFy2ABvogBTEytqEeqfHwc1PlT+ahMuePS/g3enxYdiLBfHY7RMtTWbpWcSMMLlWMyUGzgp9rIlzuDoqSu/eLuledqvk40TYu2jjBna8AzLJ2Ie1/Hnqgr+bhE2EpwVK3BGEEMSny5D95u3/nl/a3YbQVqYXDXVKYtphaVcJsBkWXS8qnPSU/JdtwlG62RYAiRh4zDwDh5LWFcJ7xDlkbJkRqhO1DCTWYYC/3ItRCP6eJOvWdOeL4Lqrf8lcpgFWu+ksZihUIxxZsSRI9+rsUlZWAiVyCPW1aBrfKR32mTMFpUAEpxMf5nsRKtalZUgjwfZRw1Ngl9uXRZDitEmK0u2TU+I8b+7Hxy4KC6iHwCK6CWupSA0GCndsOvtrHkgXk2b/Xt1h2LWKlk2TjKcSyEzyTZxqBDv44RtgVFouelvtTg6f5A5x91DF15dpRz9tqYJiV2zEhaNQ7JUKY0W0y3xq8BHn+QQUmxaIvVjaUgK2QCWuN4/qbOpUDKLESpgKXPBwt2s+LlCYLIxr4TCb/bho5zKtAVlK2epifNKBNzmEzWNLofmKtvsNNZM9KgCf8O2poEIMxLNPcGuPc4kYV8QHiPJ6HSJw6jW+UUPiylWUsLGAUVaE4rw3EmkPx0ME=
  app: project-a-20
  true:
    repo: uva-cs3240-s21/project-a-20
