{% load crispy_forms_tags %}
{% load socialaccount %}
{% load cloudinary %}

<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      </head>
      <div class="media-body">
        <nav class="navbar navbar-expand-lg navbar-light bg-warning">
            <a class="navbar-brand" href="{% url 'home' %}">Roommate Finder</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            {% if user.is_authenticated %}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'home' %}" aria-disabled="true">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'profile' %}" aria-disabled="true">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'matches' %}">Matches</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'friends_list' %}">Friends</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'discussions' %}">Discussions</a>
            </li>
            
          </ul>
            Hi, {{user.username}}! (<a href='/accounts/logout'>sign out</a>)
          {% else %}
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% provider_login_url 'google' %}" aria-disabled="true">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% provider_login_url 'google' %}" aria-disabled="true">Profile</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% provider_login_url 'google' %}">Matches</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% provider_login_url 'google' %}">Friends</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% provider_login_url 'google' %}">Discussions</a>
          </li>
          </ul>
            <a href="{% provider_login_url 'google' %}">Login with Google</a>
          {% endif %}
          
        </div>
      </nav>

      {% if user.is_authenticated %}
      <center>
        <h1>UVA Roommate Finder</h1>
        <p>Below are some of your profile details!</p>
      </center>
      <hr/>
      <div class='container'>
        <div class="row justify-content-md-center">
          <div class='col-md-auto'>
            {% if user.profile.image %}
              <img  src="{{ user.profile.image.url }}" alt="{{user.profile.name}}" width="300" height="400">
            {% endif %}
          </div>
    
          <div class='col-md-auto'>
            <h2 class="account-heading"> {{ user.name }}</h2>
            <p><b>Name:</b> {{ user.name }}</p>
            <p><b>Email:</b> {{ user.email }}</p>
            <p><b>Pronouns:</b> {{ user.profile.pronouns }}</p>
            <p><b>Year:</b> {{ user.profile.year }}</p>

          </div>

        </div>
      </div>
      {% if user.profile.schedule_image %}
      <div class='container'>
        <div class='row justify-content-md-center'>
          <h2>Class Schedule: </h2>
        </div>
      </div>

      <div class='container'>
        <div class='row justify-content-md-center'>
            <img  src="{{ user.profile.schedule_image.url }}"  alt="{{user.profile.name}}" width="auto" height="auto">
          {% endif %}
          </div>
        </div>
      </div>
      {% else %}
      <center>
        <h1>Welcome to UVA Roommate Finder!</h1>
        <p>Please <a href="{% provider_login_url 'google' %}">log in with Google</a> before using our site!</p>
      </center>
      {% endif %}
    </body>
</html>