{% load crispy_forms_tags %}
{% load socialaccount %}
{% load cloudinary %}

<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      </head>
      <div class="media-body">
        <nav class="navbar navbar-expand-lg navbar-light bg-warning">
            <a class="navbar-brand" href="{% url 'home' %}">Roommate Finder</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'questionnaire' %}" aria-disabled="true">Questionnaire</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'matches' %}">Matches</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'friends_list' %}">Friends</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'discussions' %}">Discussions</a>
            </li>
      
              </ul>
              Hi, {{user.username}}! (<a href='/accounts/logout'>sign out</a>)
              
            </div>
          </nav>
          <center>
            <h1>Create A New Thread</h1>
            <p>Start a new thread by filling out the form!</p>
          </center>
          <hr/>
          <div class='container'>

          <form method="POST">
              {% csrf_token %}
              <fieldset class="form-group">
                  {{ form|crispy }}
              </fieldset>
              <div class="form-group">
                  <button class="btn btn-outline-info" type="submit">Create</button>
              </div>
          </form>
          </div>