{% load crispy_forms_tags %}
{% block content %}
{% load cloudinary %}
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<div class="media-body">
  <nav class="navbar navbar-expand-lg navbar-light bg-warning">
      <a class="navbar-brand" href="{% url 'home' %}">Roommate Finder</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' %}">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'questionnaire' %}" aria-disabled="true">Questionnaire</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'matches' %}">Matches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'friends_list' %}">Friends</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'discussions' %}">Discussions</a>
      </li>

        </ul>
        Hi, {{user.username}}! (<a href='/accounts/logout'>sign out</a>)
        
      </div>
    </nav>
    <center>
  <h1>{{user}}'s Friends</h1>
  <p>Below are your friends and suggested friends!</p>
  <hr/>
</center>

<div class='container'>
  <div class="row justify-content-md-auto">
    <div class='col'>
      <h2>All Friends ({{user.profile.get_friends_num}})</h2>
      {% for friend in user.profile.get_friends %}
        <p><a href="{% url 'profile_detail' friend.profile.id %}">{{friend.profile.name}} ({{friend}})</a></p>
        <br>

      {% endfor %}
    </div>
    <div class='col'>
      <h3>Find New Friends:</h3>
      <form method="POST" >
      {% csrf_token %}
      
      {{ fr_form|crispy }}
      
      <button name="data" class="btn btn-outline-info" type="submit">Send</button>
      </form>
      <br>
      <br>
    </div>
  </div>
  <div class="row justify-content-md-auto">
    <div class='col'>
      <h3>Pending Requests</h3>
      <a href="{% url 'friend_req'%}">Click here to add/decline friend requests!</a>
      {% for profile in all_profiles %}
        {% if  profile.user in user.profile.get_requests and not profile.user in user.profile.get_friends %}
            <p><a href="{% url 'profile_detail' profile.id %}">{{profile.name}} ({{profile.user}})</a></p>

          <br>
          <br>
        {% endif%}
      {% endfor%}
    </div>
    <div class='col'>
      <h3>Other Users </h3>
      {% for profile in all_profiles %}
      
        {% if not profile.user in user.profile.get_friends and not user in profile.get_friends %}
          {% if not profile.user == user and not profile.user.is_superuser == True  %}
            <p><a href="{% url 'profile_detail' profile.id %}">{{profile.name}} ({{profile.user}})</a></p>
            <br>
          {% endif%}
        {% endif%}
      {% endfor%}
    </div>
  </div>
</div>
  {%endblock%}
  </div>