{% load crispy_forms_tags %}
{% block content %}
{% load cloudinary %}

<!-- Returning a dictionary in the template does not display anything -->



{% for user1, score in user_list.items %}

  
  
  <tr>
    {% for s in score %}
      {% if s != currentUser %}
      
      <h2><a href="{% url 'profile_detail' user1.profile.id %}">{{ user1 }}</a> Compatibility Score {{s}}/65</h2>
      
      {{user1.questionnaire.room}}
        
        
      {% endif %}
    <!--<td>{{users}} </td>-->
    {% endfor %}
    
   
    {% for questionnaire in Questionnaire.objects.all %}
      {{questionnaire.user}}
    {% endfor %}
    
  </tr>


  

{% endfor %}


    <h3><a href="{% url 'profile' %}">Return to profile.</a></h3>
    <h3><a href="{% url 'home' %}">Return to home page.</a></h3>
    
    
    
{% endblock content %}





