{% load crispy_forms_tags %}
{% block content %}
{% load cloudinary %}
{%load%}
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<div class="media-body">
  <nav class="navbar navbar-expand-lg navbar-light bg-warning">
      <a class="navbar-brand" href="{% url 'home' %}">Roommate Finder</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' %}">Profile</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'matches' %}">Matches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'friends_list' %}">Friends</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'discussions' %}">Discussions</a>
      </li>

        </ul>
        Hi, {{user.username}}! (<a href='/accounts/logout'>sign out</a>)
        
      </div>
    </nav>
<center>

  <h1>{{profile.name}}'s Profile</h1>
  <p>Get to know {{profile.name}}!</p>
  <hr/>  
    <div class='container'>
        <div class="row justify-content-md-center">
          <div class='col-md-auto'>
            {% if profile.image %}
              <img  src="{{ profile.image.url }}"  alt="{{profile.name}}" width="300" height="400">
            {% endif %}
          </div>
          <div class='col-md-auto'>
            <h2 class="account-heading"> {{ profile.name }}</h2>
            <p><b>Email: </b></bEmail:> {{ profile.email }}</p>
            <p><b>Pronouns: </b>{{ profile.pronouns }}</p>
            <p><b>Year: </b>{{ profile.year }}</p>
            {% if  profile.user in user.profile.get_friends%}
              <h2>Social Media / Contact Info (If Provided): </h2>
            {% endif %}
            {% if profile.phone_number %}
              <p>Phone number : {{user.profile.phone_number}}</p>
              {% if profile.insta_handle %}
                <a href="https://instagram.com/{{profile.insta_handle}}">Instagram</a> 
              {% endif %}
              {% if profile.twitter_handle %}
                <a href="https://twitter.com/{{profile.twitter_handle}}"> Twitter </a> 
              {% endif %}
              {% if profile.linked_in %}
                <a href="{{profile.linked_in}}">LinkedIn</a> 
              {% endif %}
            {% endif %}

          </div>

        </div>
      </div>
      {% if user.profile.schedule_image %}
      <div class='container'>
        <div class='row justify-content-md-center'>
          <h2>Class Schedule: </h2>
        </div>
      </div>

      <div class='container'>
        <div class='row justify-content-md-center'>
            <img  src="{{ profile.schedule_image.url }}"  alt="{{user.profile.name}}" width="auto" height="auto">
          {% endif %}
          </div>
        </div>
      </div>

<div class="container">
    <body>
        <h2>Questionaire Results:</h2>
       
        <p> How many roommates do you want?:  {{profile.user.questionnaire.number_of_roomates}}</p>
        <p>--------------------------------------------------------------------------------------------------------------------------------------</p>
        <p> What style dorm would you like to live in?:  {{profile.user.questionnaire.dorm_pref}}</p>
        <p>--------------------------------------------------------------------------------------------------------------------------------------</p>
        <p> Are you a morning or night person?:  {{profile.user.questionnaire.time_of_day}}</p>
        <p>--------------------------------------------------------------------------------------------------------------------------------------</p>
        <p> Are you a clean or messy roommate?:  {{profile.user.questionnaire.tidiness}}</p>
        <p>--------------------------------------------------------------------------------------------------------------------------------------</p>
        <p> Do you smoke or drink?:  {{profile.user.questionnaire.smoke_drink}}</p>
        <p>--------------------------------------------------------------------------------------------------------------------------------------</p>
        <p> Do you like ot go out to the nightlife scene?: {{profile.user.questionnaire.nightlife}}</p>
        <p>--------------------------------------------------------------------------------------------------------------------------------------</p>
        <p> Are you okay with having overnight guests?:  {{profile.user.questionnaire.overnight}}</p>
        <p>--------------------------------------------------------------------------------------------------------------------------------------</p>
        <p> Do you prefer styuding in quiet or loud places?:  {{profile.user.questionnaire.study}}</p>
        <p>--------------------------------------------------------------------------------------------------------------------------------------</p>
        <p> Would you like to live on- or off-Grounds?:  {{profile.user.questionnaire.where}}</p>
        <p>--------------------------------------------------------------------------------------------------------------------------------------</p>
        <p> Are you more introverted or extroverted?:  {{profile.user.questionnaire.personality}}</p>
        <p>--------------------------------------------------------------------------------------------------------------------------------------</p>
        <p> Would you be okay with sharing items with your roommates?:  {{profile.user.questionnaire.sharing}}</p>
        <p>--------------------------------------------------------------------------------------------------------------------------------------</p>
        <p> Would you be okay with roomming with somebody of another gender?:  {{profile.user.questionnaire.gender}}</p>
        <p>--------------------------------------------------------------------------------------------------------------------------------------</p>
        <p> Would you be okay with roomming with people outside of your year?:  {{profile.user.questionnaire.year}}</p>
        <p>--------------------------------------------------------------------------------------------------------------------------------------</p>
    </div>
    </body>
</center>


{% endblock content %}
