{% load crispy_forms_tags %}
{% block content %}
{% load cloudinary %}

    <div class="content-section">
      <div class="media">
       
         <div class="media-body">
           
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <h3>**PLEASE NOTE: ONLY USERS THAT YOU HAVE ACCEPTED AS A FRIEND WILL BE ABLE TO VIEW YOUR PHONE NUMBER AND SOCIAL MEDIA HANDLES (IF YOU CHOOSE TO PROVIDE THEM)**</h3>
      <h3>**IF YOU WISH TO PROVIDE SOCIAL MEDIA HANDLES, DO NOT ADD AN "@" AT THE BEGINNING OF YOUR NAME UNLESS IT IS PART OF THE HANDLE ITSELF!**</h3>
      <h3>**IF YOU WISH TO ADD YOUR LINKED IN PROFILE, GO TO YOUR PROFILE PAGE ON THE SITE AND COPY THE HYPERLINK FOR IT AND PASTE IT IN THE FIELD!**</h3>
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Profile Info</legend>
              {{ u_form|crispy }}
              {{ up_form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Update</button>
          </div>
      </form>
    </div>
    <a href="/">Click here to go back to the home page!</a>
    <p></p>
   
    <a href="/questionnaire">Click here to take the roommate finder questionnaire!</a>
    <p></p>
    <a href="{% url 'matches' %}">Click here view matches!</a>
   

{% endblock content %}