{% load crispy_forms_tags %}
{% block content %}
{% load cloudinary %}
{%load%}
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<div class="media-body">
  <nav class="navbar navbar-expand-lg navbar-light bg-warning">
      <a class="navbar-brand" href="{% url 'home' %}">Roommate Finder</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' %}">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'questionnaire' %}" aria-disabled="true">Questionnaire</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'matches' %}">Matches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'friends_list' %}">Friends</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'discussions' %}">Discussions</a>
      </li>
        </ul>
        Hi, {{user.username}}! (<a href="{% url 'logout' %}">sign out</a>)
        
      </div>
    </nav>
<center>

  <h1>{{profile.name}}'s Profile</h1>
  <p>Get to know {{profile.name}}!</p>
  <hr/>  
    <div class='container'>
        <div class="row justify-content-md-center">
          <div class='col-md-auto'>
            {% if profile.image %}
              <img  src="{{ profile.image.url }}"  alt="{{profile.name}}" width="300" height="400">
            {% endif %}
          </div>
          <div class='col-md-auto'>
            <h2 class="account-heading"> {{ profile.name }}</h2>
            {% if profile.email %}
            <p><b>Email: </b> {{ profile.email }}</p>
            {% endif %}
            {% if profile.pronouns %}
            <p><b>Pronouns: </b>{{ profile.pronouns }}</p>
            {% endif %}
            {% if profile.year %}
            <p><b>Year: </b>{{ profile.year }}</p>
            {% endif %}
            {% if  profile.user in user.profile.get_friends%}
              <h4>Provided Contact Information: </h4>
            {% endif %}
            {% if profile.phone_number %}
              <p>Phone Number: {{user.profile.phone_number}}</p>
              {% if profile.insta_handle %}
              <p>Instagram: <a href="https://instagram.com/{{profile.insta_handle}}">{{profile.insta_handle}}</a></p>
              {% endif %}
              {% if profile.twitter_handle %}
              <p>Twitter: <a href="https://twitter.com/{{profile.twitter_handle}}">{{profile.twitter_handle}}</a></p>
              {% endif %}
              {% if profile.linked_in %}
              <p>LinkedIn: <a href="{{profile.linked_in}}">{{profile.name}}</a></p>
              {% endif %}
            {% endif %}

          </div>

        </div>
      </div>
      {% if user.profile.schedule_image %}
      <div class='container'>
        <div class='row justify-content-md-center'>
          <h2>Class Schedule: </h2>
        </div>
      </div>

      <div class='container'>
        <div class='row justify-content-md-center'>
            <img  src="{{ profile.schedule_image.url }}"  alt="{{user.profile.name}}" width="auto" height="auto">
          {% endif %}
          </div>
        </div>
      </div>

<div class="container">
    <body>
      <hr/>
        <h2>Questionnaire Results:</h2>
       
        <h5> How many roommates do you want?  </h5>
        <p>{{profile.user.questionnaire.number_of_roomates}}.</p>
        <h5> What style dorm would you like to live in?</h5>
        <p>{{profile.user.questionnaire.dorm_pref}}.</p>
        <h5> Are you a morning or night person?</h5>
        <p>{{profile.user.questionnaire.time_of_day}}.</p>
        <h5> Are you a clean or messy roommate?</h5>
        <p>{{profile.user.questionnaire.tidiness}}.</p>
        <h5> Do you smoke or drink?</h5>
        <p>{{profile.user.questionnaire.smoke_drink}}.</p>
        <h5> Do you like ot go out to the nightlife scene?</h5>
        <p>{{profile.user.questionnaire.nightlife}}.</p>
        <h5> Are you okay with having overnight guests?</h5>
        <p>{{profile.user.questionnaire.overnight}}.</p>
        <h5> Do you prefer styuding in quiet or loud places?</h5>
        <p>{{profile.user.questionnaire.study}}.</p>
        <h5> Would you like to live on- or off-Grounds?</h5>
        <p>{{profile.user.questionnaire.where}}.</p>
        <h5> Are you more introverted or extroverted?</h5>
        <p>{{profile.user.questionnaire.personality}}.</p>
        <h5> Would you be okay with sharing items with your roommates?</h5>
        <p>{{profile.user.questionnaire.sharing}}.</p>
        <h5> Would you be okay with roomming with somebody of another gender?</h5>
        <p>{{profile.user.questionnaire.gender}}.</p>
        <h5> Would you be okay with roomming with people outside of your year?</h5>
        <p>{{profile.user.questionnaire.year}}.</p>
    </div>
    </body>
</center>


{% endblock content %}
