{% load crispy_forms_tags %}
{% block content %}
{% load cloudinary %}

    <div class="content-section">
      <div class="media">
       
         <div class="media-body">
           
          <h2 class="account-heading">Roomate Finder Questionnaire</h2>
          <h2 class="account-heading">Make sure that your Profile has been updated before starting the questionnaire!</h2>
      
        </div>
      </div>
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Questions:</legend>
              {{ q_form|crispy }}
           
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Update</button>
          </div>
      </form>
    </div>

    <a href="/">Click here to go back to the home page!</a>
{% endblock content %}