{% load crispy_forms_tags %}
{% block content %}
{% load cloudinary %}
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<div class="media-body">
  <nav class="navbar navbar-expand-lg navbar-light bg-warning">
      <a class="navbar-brand" href="{% url 'home' %}">Roommate Finder</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' %}">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'questionnaire' %}" aria-disabled="true">Questionnaire</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'matches' %}">Matches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'friends_list' %}">Friends</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'discussions' %}">Discussions</a>
      </li>

        </ul>
        Hi, {{user.username}}! (<a href='/accounts/logout'>sign out</a>)
        
      </div>
    </nav>

<center>
  <h1>Roommate Finder Questionnaire</h1>
</center>
<div class='container'>
  <div class="row justify-content-md-center">
    <p>Complete all of the following steps to find your perfect match!</p>
    <ol>
      <li>Click on "Profile" to update your username, pronouns, and about me to give other user's the most information about you!</li>
      <li>Take the "Questionnaire" to answer what you're looking for in a roommate and how you are as a roommate.</li>
      <li>See every user and their compatibility with you on the "Matches" page.</li>
      <li>Send a friend request to your top matches to find their social media usernames on the "Friends" tab.</li>
    </ol>
  </div>
</div>

<div class='container'>
  <div class="row justify-content-md">
    <div class='col-md-auto'>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Questions:</legend>
            {{ q_form|crispy }}
         
        </fieldset>
        <div class="form-group">
          <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
      </form>
    </div>

    <div class='col-md-auto'>
      <legend class="border-bottom mb-4">Your Current Questionnaire Response:</legend>
       
      <h5>Number of Roommates:</h5>
      <p>{{user.questionnaire.number_of_roomates}}</p>

      <h5>Dorm Style Preference:</h5>
      <p>{{user.questionnaire.dorm_pref}}</p>

      <h5>Morning or Night Person:</h5>
      <p>{{user.questionnaire.time_of_day}}.</p>

      <h5>Clean or Messy Person:</h5>
      <p>{{user.questionnaire.tidiness}}.</p>

      <h5>Drink and/or Smoke:</h5>
      <p>{{user.questionnaire.smoke_drink}} drink or smoke.</p>

      <h5>Overnight guests:</h5>
      <p>{{user.questionnaire.overnight}}.</p>

      <h5>Study environment:</h5>
      <p>{{user.questionnaire.study}}.</p>

      <h5>On- or Off-Grounds:</h5>
      <p>{{user.questionnaire.where}}.</p>

      <h5>Personality type:</h5>
      <p>{{user.questionnaire.personality}}.</p>

      <h5>Sharing and/or Borrowing Items:</h5>
      <p>{{user.questionnaire.sharing}}.</p>

      <h5>Living with Different Genders:</h5>
      <p>{{user.questionnaire.gender}}.</p>

      <h5>Living with People of Different Years:</h5>
      <p>{{user.questionnaire.year}}.</p>
    </div>

  </div>
</div>   
</div>
{% endblock content %}
