<html>
    <head>
        <h3>IF YOU ARE SEEING THIS, YOU HAVE ALREADY TAKEN THE QUESTIONNAIRE. YOUR ANSWERS HAVE BEEN RECORDED AND HAVE BEEN USED TO MATCH YOU WITH OTHER USERS.</h3>
    </head>
    <body>
        <h2>Here are your results from the questionnaire:</h2>
       
        <p> How many roommates you would like to have:  {{user.questionnaire.number_of_roomates}}</p>
        <p>--------------------------------------------------------------------------------------------------------------------------------------</p>
        <p> Your dorm preference:  {{user.questionnaire.dorm_pref}}</p>
        <p>--------------------------------------------------------------------------------------------------------------------------------------</p>
        <p> Morning/Night Person:  {{user.questionnaire.time_of_day}}</p>
        <p>--------------------------------------------------------------------------------------------------------------------------------------</p>
        <p> Clean/Messy Person:  {{user.questionnaire.tidiness}}</p>
        <p>--------------------------------------------------------------------------------------------------------------------------------------</p>
        <p> Do you drink or smoke:  {{user.questionnaire.smoke_drink}}</p>
        <p>--------------------------------------------------------------------------------------------------------------------------------------</p>
        <p> Thoughts on overnight guests:  {{user.questionnaire.overnight}}</p>
        <p>--------------------------------------------------------------------------------------------------------------------------------------</p>
        <p> Your study habits:  {{user.questionnaire.study}}</p>
        <p>--------------------------------------------------------------------------------------------------------------------------------------</p>
        <p> Where in Charlottesville/UVA you want to live:  {{user.questionnaire.where}}</p>
        <p>--------------------------------------------------------------------------------------------------------------------------------------</p>
        <p> What is your personality type:  {{user.questionnaire.personality}}</p>
        <p>--------------------------------------------------------------------------------------------------------------------------------------</p>
        <p> Thoughts on sharing/borrowing items:  {{user.questionnaire.sharing}}</p>
        <p>--------------------------------------------------------------------------------------------------------------------------------------</p>
        <p> Living with same/different genders:  {{user.questionnaire.gender}}</p>
        <p>--------------------------------------------------------------------------------------------------------------------------------------</p>
        <p> Roomates from same/different year:  {{user.questionnaire.year}}</p>
        <p>--------------------------------------------------------------------------------------------------------------------------------------</p>
        <a href="/profile">Click here return to your profile!</a>

    </body>